<div class="col-lg-4 col-sm-6 text-center about-profile"  {{action "over" on="mouseEnter"}}  >
    <div {{action "out" on="mouseLeave"}}>
    {{#if overDiv}}
            <div>You are over div now!</div>
    {{/if}}
    <img class="img-circle img-responsive img-center" {{bind-attr src=image}} alt="">
    <h3 >{{name}}
        <small>{{title}}</small>
        <small>{{yield}}</small>
    </h3>
    <a {{bind-attr href=twitter}}>Twitter</a>
    </div>
</div>
