<div class="col-lg-4 col-sm-6 text-center about-profile"  {{action "over" on="mouseEnter"}}  >
    <div {{action "out" on="mouseLeave"}}>
    {{#if overDiv}}
            <div>You are over div now!</div>
    {{/if}}
    <img class="img-circle img-responsive img-center" {{bind-attr src=image}} alt="" {{action "clicked" on="click"}}>
    <h3>{{name}}</h3>
    <small>{{title}}</small> | <small>{{profileIndex}}</small> <br/>
    <small>{{yield}}</small>

    <a {{bind-attr href=twitter}}>Twitter</a>
    </div>
</div>
